* @araujoevaristoadv-gif
/apps/site/src/pages/politica-de-privacidade.astro @araujoevaristoadv-gif
/apps/site/src/pages/termos-de-uso.astro @araujoevaristoadv-gif
/apps/instagram-worker/ @araujoevaristoadv-gif
