PUBLIC_SITE_URL=https://registrium.pages.dev
PUBLIC_SITE_ENV=development
PUBLIC_CONTACT_EMAIL=registriummarcas@gmail.com
PUBLIC_WHATSAPP_NUMBER=5583991327014
PUBLIC_WHATSAPP_MESSAGE=Olá, quero registrar minha marca com a Registrium.
PUBLIC_INSTAGRAM_URL=https://instagram.com/registriummarcas
PUBLIC_INSTAGRAM_FEED_URL=http://localhost:8787/feed
PUBLIC_GA_ID=
PUBLIC_META_PIXEL_ID=
