PUBLIC_SITE_URL=https://registrium.pages.dev
PUBLIC_SITE_ENV=development
PUBLIC_TALLY_FORM_URL=
PUBLIC_CONTACT_EMAIL=atendimento@registrium.com.br
PUBLIC_WHATSAPP_NUMBER=
PUBLIC_WHATSAPP_MESSAGE=Olá! Acabei de solicitar uma análise pelo site da Registrium e gostaria de continuar o atendimento.
PUBLIC_INSTAGRAM_URL=
PUBLIC_INSTAGRAM_FEED_URL=http://localhost:8787/feed
PUBLIC_GA_ID=
PUBLIC_META_PIXEL_ID=
